/* header */
.main-header{
  width: 100%;
  background-color: crimson;
}
.main-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.main-header nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.main-header nav ul li{
  padding: 5px;
  background-color: black;
}
.main-header nav ul li a{
  text-decoration: none;
  color:aliceblue;
}
.main-header nav ul li:hover{
  background-color: darkblue;
}
/* main homepage */
main{
  width: 100%;
  min-height: 100vh;
  background-color: darkgray;
}
.hero{
  width: 100%;
  height: 500px;
  background: url('https://images.unsplash.com/photo-1513104890138-7c749659a591?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content{
  text-align: center;
  background-color: black;
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;;
}
.hero-content a{
  text-decoration: none;
  color: dodgerblue;
}
.hero-content a:hover{
  text-decoration: underline;
  color: crimson;
}

/* pizza container */
.pizzaContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pizzaImgContainer{
  width: 300px;
  height: 200px;
}
.pizzaImgContainer img{
  width: 100%;
  height: 100%;
}

.form-container{
  max-width: 600px;
  margin: 0 auto;
}
.form-container header{
  width: 100%;
  background-color: darkblue;
}
.form-container header h1{
  color: aliceblue;
  text-align: center;
  padding: 10px;
}
.form-container header .image-container{
  width: 100%;
  height: 300px;
}
.form-container header .image-container img{
  width: 100%;
  height: 100%;
}


form h2{
  padding: 10px;
  text-transform: capitalize;
}

div{
  width: 100%;
}
div span{
  display: block;
}

div select{
  width: 200px;
}
